<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Old Age Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">

        <div class="navbar-nav">
          <a class="nav-link"routerlink="Home">Home</a>
          <a class="nav-link"routerlink="About">About</a>
          <a class="nav-link"routerlink="Services">Services</a>
          <a class="nav-link"routerlink="Gallery">Gallery</a>
          <a class="nav-link"routerlink="">Testimonals</a>
          <a class="nav-link"routerlink="">ContactUs</a>
          <a class="nav-link"routerlink="">Login</a>
        </div>
        
         -->
         


         <nav class="navbar navbar-expand-lg bg-body-tertiary" id="n">
          <div class="container-fluid">
            <img src="https://image1.jdomni.in/storeLogo/30092022/E7/0E/74/2A0E145D6F406FF92519FBE464_1664518358988.png?output-format=webp" alt="">&nbsp;
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="about">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="whyus">WHYUS</a>
                </li>
              
              <li class="nav-item">
                <a class="nav-link active" href="services">SERVICES</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link active" href="gallery">GALLERY</a>
            </li>
           
          
          <li class="nav-item">
            <a class="nav-link active" href="testimonals">TESTIMONALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="admission">ADMISSION</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="contactus">CONTACT US</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="login">LOGIN</a>
        </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>-->
              </ul>
              <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>  -->
            </div>
          </div>
        </nav>