<!--br><br>
<div class="container">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="lname"> Phone number</label>
      <input type="text" id="phno" name="phno" placeholder="Your phone no..">
       <label for="country">Dist</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select> 
  
      <label for="subject">message</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="send">
  
    </form>
  </div>-->
  <body>

    <h1>ENQUIRY NOW</h1>
    <p>Please fill out this form with the required information</p>
    <form #f="ngForm" (ngSubmit)="addData(f)">
      
      <fieldset>
        <label>First Name 
          <input type="text" name="name" required [(ngModel)]="name"></label>
        <label>Last Name 
        <input type="text" name="name" required [(ngModel)]="lastname">
        </label>
        <label>Email
        <input type="email" name="email" required [(ngModel)]="email">
        </label>
        <label>Phone Number 
        <input type="text" name="phone" required [(ngModel)]="phone">
        </label>
        
       
        <label>message
        <textarea name="message" rows="5" cols="30" placeholder="Your message ..." [(ngModel)]="message"></textarea>
        </label>
      </fieldset>
      <input type="submit" value="Send" />
    </form>
  </body>

  