
<main id="about">
    <div class="about mt-5">
      <div class="container-fluid">
        <!--Section Head-->
        <h2 class="h2-responsive fw-bold text-center my-2">
          Why Us
        </h2>


<div class="container text-center">
    <br><br>
    <br><br>
    <br><br>

    <div class="row">
      <div class="col">
        
        <img src="https://image3.jdomni.in/banner/27092022/CD/B9/C0/5A673199D74C2CFF58A18B6B0B_1664268295297.png?output-format=webp" alt="" height="100"width="100">
        <h4>A home more than just a shelter</h4>
      </div>
      <div class="col">
        <img src="https://image1.jdomni.in/banner/27092022/FE/B6/82/1E278676C9CCE0E5AC0D76F82E_1664268383721.png?output-format=webp" alt="" height="100"width="100">
        <h4>Extending comfort, love and warmth</h4>
      </div>
      <div class="col">
        <img src="https://image2.jdomni.in/banner/27092022/66/8C/52/065B5D6C7DBBFB8B11C1BCE4D2_1664268469367.png?output-format=webp" alt="" height="100" width="100">
        <h4>Accepting people from all backgrounds</h4>

        
    </div>
    </div>
  </div><br><br><br><br><br>