<!-- <section>Footer Example 5</section> -->

<br><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-distributed">

			<div class="footer-left">

				<!-- <h3>Company<span>logo</span></h3> -->
                <img src="https://image1.jdomni.in/storeLogo/30092022/E7/0E/74/2A0E145D6F406FF92519FBE464_1664518358988.png?output-format=webp" alt="">
				<p class="footer-links">
					<a href="">Home</a>
					·
					<a href="about">about</a>
					·
					<a href="whyus">whyus</a>
					·
					<a href="services">services</a>
					·
                    
                    <a href="gallery">Gallery</a>
                    .
					<a href="testimonals">tesimonals</a>
					·
					<a href="contactus">Contact us</a>
                    .
                    <a href="login">login</a>
                   
				</p>

				<p class="footer-company-name">Company Name © 2015</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email">
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>