<!-- <div class="container text-center"> 
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>     --->
  

    <!--Section heading-->
    <!--<h2 class="h1-responsive font-weight-bold text-center my-4">Services</h2>-->
    <!--Section description-->
  <!--
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accommodation</h5>
          <p class="card-text">All our Accomadation rooms are well-furnished and come with plenty of in room amenities.</p>
         <a href="#" class="btn btn-primary">Click here</a>
     
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="https://image3.jdomni.in/banner/27092022/75/2F/C7/CF2578A0013ABAD16C787C7BD4_1664261786297.jpg?output-format=webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Interaction centre</h5>
          <p class="card-text">We try and initiate a better understanding of the problems of ageing from a social perspective</p>
          <a href="#" class="btn btn-primary">Click here</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://image2.jdomni.in/banner/27092022/81/3A/9D/CAE1184BAD5DCAE5243E74A10C_1664261898723.jpg?output-format=webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Medical Check-up</h5>
          <p class="card-text">We conduct routine medical Check-ups and provide medication to all our elderly patients.</p>
          <a href="#" class="btn btn-primary">Click here</a>
        </div>
      </div>
    </div>
    
    <div class="col">
        <div class="card">
          <img src="https://image3.jdomni.in/banner/27092022/48/8A/42/294D4FC4D3540DE9CCE7F59607_1664262143409.jpeg?output-format=webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nursing & Personal care</h5>
            <p class="card-text">We provide self-contained rooms and 24 hour nursing & personal care for aged people.</p>
            <a href="#" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/695071562/photo/nuts-assortment-on-rustic-wood-table.jpg?b=1&s=170667a&w=0&k=20&c=HX-y_TKG84nU8j1MNoUM1Wn5miuSRIfoex3hX-d1KSU=" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nutrition food</h5>
            <p class="card-text">Nutrition food will be provided.Nuts and seeds are good sources of protein, healthy fats, fibres, vitamins, and minerals. Nuts and seeds regulate body weight as their fats are not fully absorbed, they regulate food intake, and help burn energy.</p>
            <a href="#" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
  
    </div>-->
    <main id="about">
      <div class="about mt-5">
        <div class="container-fluid">
          <!--Section Head-->
          <h2 class="h2-responsive fw-bold text-center my-2">
            Services
          </h2>
  
   

      <div class="container ">
        <div class="row">
          <div class="col py-4" *ngFor="let item of oldage">
            
            <div class="card" style="width: 16rem;">
              <img src="{{item.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.details}}</p>
               <a (click)="gotohere(item.name)"class="btn btn-primary">Read More</a>
              </div>
            </div>
    
          </div>
          </div>
          </div>
          
    
    
    
    



    


